@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3125;
  color: var(--black);
}

.section {
  padding-top: 150px;
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 30px;
}

/* Скрытие заголовка */
:root {
  --black: #151515;
  --blue: #0066ff;
  --grey: #e8e8e8;
  --white: #FFFFFF;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: var(--black);
  color: var(--white);
}
.header__main {
  background-color: transparent;
  position: absolute;
  z-index: 6;
  left: 0;
  right: 0;
}
.header__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 45px;
}

.nav__list {
  display: flex;
  gap: 0 35px;
}
.nav__link {
  font-weight: 700;
  line-height: 1.1875;
  text-transform: uppercase;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: var(--blue);
}

html,
body {
  height: 100%;
}

.wrepper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.hero {
  padding-top: 247px;
  padding-bottom: 50px;
  color: var(--white);
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.hero__title {
  padding-bottom: 38px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2083333333;
  text-transform: capitalize;
}
.hero__link {
  display: inline-block;
  max-width: 430px;
  width: 100%;
  padding: 23px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover {
  background-color: var(--blue);
}

.swiper::after {
  content: "";
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swipswiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: var(--black);
  border-radius: 0;
  opacity: 1;
  margin: 0 15px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: var(--white);
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 50px);
}

.advantages__list {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.advantages__item {
  position: relative;
  padding-top: 180px;
}
.advantages__item:hover::before {
  transform: scale(1.1);
}
.advantages__item::before {
  position: absolute;
  width: 150px;
  height: 150px;
  left: calc(50% - 75px);
  top: 0;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon1::before {
  content: url(../images/advantages/icon1.svg);
}

.icon2::before {
  content: url(../images/advantages/icon2.svg);
}

.icon3::before {
  content: url(../images/advantages/icon3.svg);
}

.icon4::before {
  content: url(../images/advantages/icon4.svg);
}

.howdoes__inner {
  max-width: 600px;
  margin: 0 auto;
}
.section__title + .howdoes__text {
  margin-bottom: 50px;
}
.howdoes .subtitle {
  margin-bottom: 50px;
  text-align: left;
}
.howdoes__list {
  margin-bottom: 70px;
  counter-reset: myCounter;
}
.howdoes__item {
  list-style-type: none;
  width: 270px;
  margin-left: auto;
  padding: 19px 0 19px 240px;
  position: relative;
  box-sizing: content-box;
  min-height: 63px;
}
.howdoes__item + .howdoes__item {
  margin-top: 40px;
}
.howdoes__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--white);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.video .section__title {
  margin-bottom: 20px;
}
.video .subtitle {
  margin-bottom: 50px;
}
.video__content {
  display: block;
  margin: 0 auto;
}

.footer {
  padding: 50px 0 30px;
  background-color: var(--black);
  color: var(--white);
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.footer__menu-list {
  max-width: 250px;
}
.footer__menu-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__menu-link, .footer__copyright-link {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__menu-link:hover, .footer__copyright-link:hover {
  color: var(--blue);
}
.footer__app-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 39px;
  margin-bottom: 52px;
}
.footer__app-link {
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__app-link:hover {
  transform: scale(1.1);
}
.footer__copy {
  max-width: 806px;
  text-align: center;
  margin: 0 auto 30px;
}
.footer__copy-text {
  font-size: 12px;
  line-height: 1.25;
}
.footer__copyright-list {
  display: flex;
  justify-content: center;
  gap: 0 40px;
}

.important {
  padding-bottom: 150px;
}
.important .section__title {
  margin-bottom: 20px;
}
.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}
.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.important__img {
  margin-bottom: 20px;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.important__img:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.45);
}/*# sourceMappingURL=style.css.map */