html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  // width: 100%;
}

picture {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(21/16);
  color: var(--black);
  // min-width: 320px;
  // overflow-x: hidden;
}

.section {
  padding-top: 150px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(58/48);
    text-align: center;
    margin-bottom: 50px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29/24);
  text-align: center;
  margin-bottom: 30px;
}

.active {
  color: var(--blue);
}

.showmore-link {
  display: block;
  margin: 0 auto;
  width: 223px;
  padding: 13px;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  text-transform: uppercase;
  @include transition ($transition-property: background-color);
  &:hover {
    background-color: var(--blue);
  }
}

/* Скрытие заголовка */
// .visually-hidden {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   margin: -1px;
// }