:root {
    --black: #151515;
    --blue: #0066ff;
    --grey: #e8e8e8;
    --white: #FFFFFF;
    --backgrount: #D9D9D9;
}

@mixin transition ($transition-property: color, $transition-duration: 550ms, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)){
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}