.advantages {

  &__list {
    // display: flex;
    gap: 40px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }

  &__item {
    position: relative;
    padding-top: 180px;

    // flex-basis: calc(100% - 120px / 3);
    &:hover {
      &::before {
        transform: scale(1.1);
      }
    }

    &::before {
      position: absolute;
      width: 150px;
      height: 150px;
      left: calc(50% - 75px);
      top: 0;
      @include transition ($transition-property: scale);
    }
  }

  @media screen and (width < 861px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

  .icon1::before {
    content: url(../images/advantages/icon1.svg);
  }

  .icon2::before {
    content: url(../images/advantages/icon2.svg);
  }

  .icon3::before {
    content: url(../images/advantages/icon3.svg);
  }

  .icon4::before {
    content: url(../images/advantages/icon4.svg);
  }