.blog {
  padding-bottom: 150px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item-img {
    margin-bottom: 30px;
  }


  & .subtitle {
    flex-basis: 446px;
    text-align: left;
    margin-bottom: 0;
  }

  &__item-link {
    // width: 80px;
    // height: 29px;
    padding: 4px 21px;
    color: var(--white);
    background-color: var(--blue);
    @include transition ($transition-property: background-color);

    &:hover {
      background-color: var(--black);
    }
  }

  @media screen and (width < 1156px) {
    & .subtitle {
      font-size: 21px;
      margin-bottom: 10px;
    }

    &__item-link {
      margin-left: auto;
    }
  }

  @media screen and (width < 886px) {
    padding-bottom: 70px;
    & .subtitle {
    font-size: 19px;
    min-height: 50px;
  }
}


  @media screen and (width < 651px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    & .subtitle {
      // font-size: 19px;
      min-height: auto;
  }
}
}