.catalog {
  padding-top: 100px;

  &__inner {
    margin-bottom: 70px;
  }


  &__filters {
    // padding: 0 150px;
    max-width: 886px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    margin: 0 auto 100px;
  }

  &__filters-btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--black);
    @include transition ($transition-property: color);

    &:hover,
    &--active {
      color: var(--blue);
    }
  }

  &__car-list {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;

    &.catalog__car-list--active {
      display: grid;
    }
  }

  &__car-item {
    text-align: center;
  }

  &__car-img {
    // height: 170px;
    background: #D9D9D9;
  }

  &__car-content {
    padding: 0 5px;
    border: 1px solid var(--blue);
    border-top: 0;
  }

  &__car-item .subtitle {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__car-text {
    margin-bottom: 20px;
  }

  &__car-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__car-link {
    width: 100%;
    padding: 2px;
    border: 1px solid var(--blue);
    border-top: 0;
    color: var(--blue);
    @include transition ($transition-property: (color, background-color));

    &:hover {
      background-color: var(--blue);
      color: var(--white);

    }
  }

    @media screen and (width < 1181px ) {
      &__car-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (width < 902px ) {
    &__filters {
      margin: 0 auto 50px;
      gap: 40px;
    }
  }

  @media screen and (width < 861px ) {
    &__car-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (width < 651px ) {
    &__car-list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__filters-btn {
      font-weight: 700;
      font-size: 18px;
    }
  }
}