.contacts {
  padding-top: 100px;

  & .section__title {
    margin-bottom: 20px;
  }

  & .subtitle {
    margin-bottom: 50px;
    padding: 0 100px;
  }

  &__form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 50px 40px;
    margin-bottom: 50px;

  }

  &__form-input {
    padding: 18px 20px;
    flex-basis: calc((100% - 40px) / 2);
    border: 1px solid var(--blue);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(21/16);
    color: var(--black);

    &::placeholder {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(21/16);
      color: var(--black);
      opacity: .5;
    }

  }

  &__form-textarea {
    width: 100%;
    height: 291px;
    padding: 28px 20px;
    resize: none;
    border: 1px solid var(--blue);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(21/16);
    color: var(--black);

    &::placeholder {
      color: var(--black);
      opacity: .5;
    }
  }

  &__form-btn {
    margin: 0 auto;
    padding: 15px 61px;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    @include transition ($transition-property: background-color);

    &:hover {
      background-color: var(--blue);
    }
  }

  @media screen and (width < 651px) {
    padding-top: 50px;

    & .subtitle {
      padding: 0 10px;
    }

    &__form {
      gap: 30px;
    }

    &__form-input {
      flex-basis: 100%;
    }
  }

}