.footer {
  padding: 50px 0 30px;
  background-color: var(--black);
  color: var(--white);

  &__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    &-list {
      max-width: 250px;
    }

    &-title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: calc(29/24);
    }

    &-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }


  &__app-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 39px;
    margin-bottom: 52px;
  }

  &__copy {
    max-width: 806px;
    text-align: center;
    margin: 0 auto 30px;
   
    &-text {
      font-size: 12px;
      line-height: calc(15/12);
    }
  }

  &__copyright-list {
    display: flex;
    justify-content: center;
    gap: 0 40px;
  }
}