.hero {
  padding-top: 247px;
  padding-bottom: 50px;
  color: var(--white);
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;

  &__title {
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 96px;
    line-height: calc(116/96);
    text-transform: capitalize;
  }

  &__link {
    display: inline-block;
    max-width: 430px;
    width: 100%;
    padding: 23px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44/36);
    text-transform: uppercase;
  }
}