.hero {
  padding-top: 247px;
  padding-bottom: 50px;
  color: var(--white);
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;

  &__title {
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 96px;
    line-height: calc(116/96);
    text-transform: capitalize;
  }

  &__link {
    display: inline-block;
    max-width: 430px;
    width: 100%;
    padding: 23px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44/36);
    text-transform: uppercase;
    @include transition ($transition-property: background-color);

    &:hover {
      background-color: var(--blue);
    }
  }

  @media screen and (width < 769px) {
    &__title {
      font-size: 70px;
    }

    &__link {
      padding: 16px;
      max-width: 360px;
      font-size: 28px;
    }
  }

  @media screen and (width < 541px) {
    &__title {
      font-size: 60px;
    }

    &__link {
      padding: 10px;
      max-width: 310px;
      font-size: 22px;
    }
  }
}