.swiper {
  &::after {
    content: '';
    background: rgba(21, 21, 21, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
  }






  &-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

}