.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: var(--black);
  border-radius: 0;
  opacity: 1;
  margin: 0 15px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: var(--white);
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 50px);
}

@media screen and (width < 769px) {
  .swiper-pagination-bullet {
    width: 60px;
  }

  .swiper-pagination-bullet-active {
    width: 60px;
    height: 4px;
  }
}

@media screen and (width < 541px) {
  .swiper-pagination-bullet {
    width: 35px;
    height: 2px;
  }

  .swiper-pagination-bullet-active {
    width: 35px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 30px);
  }
}