.video {

  & .section__title {
    margin-bottom: 20px;
  }

  & .subtitle {
    margin-bottom: 50px;
  }

  &__content {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  @media screen and (width < 769px) {
    &__content {
      height: 400px;
    }
  }


  @media screen and (width < 541px) {
    &__content {
      height: 200px;
    }
  }
}